# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv - DO NOT commit secrets
.env
.env.local
.env.*.local
.local.env

# build / dist
dist/
build/
.cache/
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
log/

# Editor swap / tmp
*.swp
*.swo
*.tmp
